<html lang="en" style="font-size: 50.3125px;"><head>
    <meta charset="UTF-8">
    <title>住在凤凰</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://hm.baidu.com/hm.js?5b8572ca1660965974d2ea9f755f0459"></script><script src="js/jquery.min.js"></script>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/product.css">
    <script src="js/template.js"></script>
    <script src="js/common.js"></script>
    <script src="js/api.js"></script>
</head>
<body>

<div class="linkList wapper linkList2">
    <a href="index.html">首页</a>
    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
    <a href="product.html">吃喝玩乐</a>
    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
    住在凤凰
</div>
<div class="wapper" id="live-box">
    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/xionggongguan%402x.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>熊公馆（总理府）</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">文星街8号（凤凰古城内）</div>
            <div>商家电话：15174346018</div>
            <div style="color: #FF6600;font-weight: bold;">价位：780元/起</div>
            <div class="live-dricp">2018年开业，一家苗族古代建筑风格，极富苗族情调的会所，共有6间房，豪华套房2间，高级标准套房2间，高级大床房1间，高级双标1间；具有配套餐饮、茶道、多功能会议室，可满足会务接待、商务活动、休闲旅行等不同需求。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/wanshougong%402x.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>万寿宫轻奢驿站</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">沙湾11号万寿宫景点内（凤凰古城内）</div>
            <div>商家电话：15907438526</div>
            <div style="color: #FF6600;font-weight: bold;">价位：598元/起</div>
            <div class="live-dricp">2018年开业，凤凰万寿宫轻奢驿站总占地面积4000平方米，投资共350万元余，是由湖南首家星级生态会馆普瑞温泉酒店全权管理，共有12间房，豪华套房6间，高级双标房3间，高级大床房3间。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/qixitingyuan%402x.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>栖溪庭院民宿</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">凤凰古城南门索33号</div>
            <div>商家电话：13974376474</div>
            <div style="color: #FF6600;font-weight: bold;">价位：200元/起</div>
            <div class="live-dricp">2018年开业，2019年装修，位于凤凰古城入口西门内，与凤凰古城核心景区景点沈从文故居相邻，共有12间房，轻奢大床房、亲子套房、奢雅套房、轻奢双床房，生活配套设施完善，属于古城便利区域。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/dengnilai%402x.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>凤凰等你来三生三世.艺术民宿</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">凤凰古城翡翠城东南方向200米</div>
            <div>商家电话：0743-3666633</div>
            <div style="color: #FF6600;font-weight: bold;">价位：470元/起</div>
            <div class="live-dricp">2020年开业，凤凰民宿分会会长玲姐13年磨一剑的精品民宿，以苗绣文化为基调的体验式民宿，让选择入住的朋友们可以深切体会凤凰古城浓厚的苗族文化，民宿人性化管家式管理。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/jiangjing%402x.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>等一个人江景客栈（凤凰跳岩店）</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">老营哨街141号</div>
            <div>商家电话：0743-3225227</div>
            <div style="color: #FF6600;font-weight: bold;">价位：290元/起</div>
            <div class="live-dricp">2016年开业，客栈位于古城最核心最繁华的沱江泛舟风景区，共有9间房，江景大床房、双床房；客房以东南亚、美式乡村等风格为主，还拥有古城最佳观景台，白天俯江而望，来上一杯咖啡，远离古城的喧哗，享受最美风景。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/wubai%402x.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>凤凰無白.沐野高端度假民宿</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">沱江镇田家弄24号</div>
            <div>商家电话：0743-3666736</div>
            <div style="color: #FF6600;font-weight: bold;">价位：470元/起</div>
            <div class="live-dricp">2019年开业，处于古城核心景区位置，民宿附近就是虹桥中心步行街和凤凰酒吧街，紧邻沱江，户型涵盖景观房、情侣房、家庭套房、亲子套房、双床房等，共有25间房，高档型酒店，各项设施达到四星酒店水平。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

</div>


<script type="text/html" id="liveBox">
    <% for(var i = 0;i < liveList.length;i++){ %>
    <div class="live-item">
        <img src="<%= liveList[i].img %>" alt="产品图片">
        <div class="live-item-contet">
            <h3><%= liveList[i].title %></h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点"><%= liveList[i].address %></div>
            <div>商家电话：<%= liveList[i].phone %></div>
            <div style="color: #FF6600;font-weight: bold;">价位：<%= liveList[i].price %>元/起</div>
            <div class="live-dricp"><%= liveList[i].dricp %></div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>
    <% } %>
</script>
<script>
    $(function(){
        let liveList =[{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/xionggongguan%402x.png',
            title:'熊公馆（总理府）',
            address:'文星街8号（凤凰古城内）',
            phone:'15174346018',
            price: 780,
            dricp:'2018年开业，一家苗族古代建筑风格，极富苗族情调的会所，共有6间房，豪华套房2间，高级标准套房2间，高级大床房1间，高级双标1间；具有配套餐饮、茶道、多功能会议室，可满足会务接待、商务活动、休闲旅行等不同需求。'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/wanshougong%402x.png',
            title:'万寿宫轻奢驿站',
            address:'沙湾11号万寿宫景点内（凤凰古城内）',
            phone:'15907438526',
            price: 598,
            dricp:'2018年开业，凤凰万寿宫轻奢驿站总占地面积4000平方米，投资共350万元余，是由湖南首家星级生态会馆普瑞温泉酒店全权管理，共有12间房，豪华套房6间，高级双标房3间，高级大床房3间；位于凤凰古城核心景区内，面朝沱江，集餐饮娱乐、休闲度假、会议商务于一休。'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/qixitingyuan%402x.png',
            title:'栖溪庭院民宿',
            phone:'13974376474',
            address:'凤凰古城南门索33号',
            price: 200,
            dricp:'2018年开业，2019年装修，位于凤凰古城入口西门内，与凤凰古城核心景区景点沈从文故居相邻，共有12间房，轻奢大床房、亲子套房、奢雅套房、轻奢双床房，生活配套设施完善，属于古城便利区域。古色古香的中式建筑完美融入古镇之中，走进庭院却又别有一番风味。'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/dengnilai%402x.png',
            title:'凤凰等你来三生三世.艺术民宿',
            phone:'0743-3666633',
            address:'凤凰古城翡翠城东南方向200米',
            price: 470,
            dricp:'2020年开业，凤凰民宿分会会长玲姐13年磨一剑的精品民宿，以苗绣文化为基调的体验式民宿，让选择入住的朋友们可以深切体会凤凰古城浓厚的苗族文化，民宿人性化管家式管理，个性化有温度的服务理念，宾至如归是您入住的感受。'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/jiangjing%402x.png',
            title:'等一个人江景客栈（凤凰跳岩店）',
            phone:'0743-3225227',
            address:'老营哨街141号',
            price: 290,
            dricp:'2016年开业，客栈位于古城最核心最繁华的沱江泛舟风景区，共有9间房，江景大床房、双床房；客房以东南亚、美式乡村等风格为主，还拥有古城最佳观景台，白天俯江而望，来上一杯咖啡，远离古城的喧哗，享受最美风景。'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/wubai%402x.png',
            title:'凤凰無白.沐野高端度假民宿',
            phone:'0743-3666736',
            address:'沱江镇田家弄24号',
            price: 470,
            dricp:'2019年开业，处于古城核心景区位置，民宿附近就是虹桥中心步行街和凤凰酒吧街，紧邻沱江，户型涵盖景观房、情侣房、家庭套房、亲子套房、双床房等，共有25间房，高档型酒店，各项设施达到四星酒店水平。'
        }]
        $("#live-box").html(template($("#liveBox").html(),{liveList:liveList}));
    })

</script></body></html>