<html lang="en" style="font-size: 50.3125px;"><head>
    <meta charset="UTF-8">
    <title>吃在凤凰</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://hm.baidu.com/hm.js?5b8572ca1660965974d2ea9f755f0459"></script><script src="js/jquery.min.js"></script>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/product.css">
    <script src="js/template.js"></script>
    <script src="js/common.js"></script>
    <script src="js/api.js"></script>
</head>


<body>

<div class="linkList wapper linkList2">
    <a href="index.html">首页</a>
    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
    <a href="product.html">吃喝玩乐</a>
    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
    当地餐厅推荐
</div>
<div class="wapper" id="live-box">
    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/fenghuanglaocaiguan.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>凤凰老菜馆</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">凤凰县虹桥中路17号虹桥桥头（三王庙入口处）</div>
            <div>商家电话：</div>
            <p>推荐菜品：推荐菜：苗家血粑鸭、招牌石锅鱼</p>
            <div class="live-dricp">凤凰老菜馆，是凤凰众多的湘菜馆之一，其菜品的制作精细，用料上比较广泛，口味多变，品种繁多，深受大家的青睐。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/daguodazao.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>大锅大灶柴火饭庄</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">凤凰县虹桥中路110号（虹桥往南280米）</div>
            <div>商家电话：</div>
            <p>推荐菜品：推荐菜：柴火鱼、柴火鸭</p>
            <div class="live-dricp">大锅大灶柴火饭庄的食材精挑细选，纯正柴火制作，有别样的柴火香，且是古城人气超高的餐厅，古色古香的建筑很有韵味，店内服务热情，菜品丰富。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/dashi.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>大使饭店</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">凤凰县沱江镇虹桥中路118号</div>
            <div>商家电话：</div>
            <p>推荐菜品：推荐菜：血粑鸭、酸汤鱼</p>
            <div class="live-dricp">在凤凰很有名气，开业十余年，因当年招待黄永玉的德国大使朋友而出名，门脸古香古色，环境还可以，老板娘热情好客。酸白菜、腊肉、炒松油菌等菜肴极具地方特色，口味偏辣，吃起来入味下饭。价格比较公道，性价比高。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/bainianlaozihao.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>百年老字号湘菜</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">凤凰县虹桥中路26号（建行对面）</div>
            <div>商家电话：</div>
            <p>推荐菜品：推荐菜：血粑鸭、叫花鸡</p>
            <div class="live-dricp">百年老字号湘菜馆是虹桥路上多家餐厅之一，其一湘西特色菜品著称，品类众多，凤凰血粑鸭 , 苗家酸汤鱼 , 深山有机蔬菜 , 肉沫酸豆角 , 招牌石锅鱼 , 土匪鸡 , 土家茄子 , 叫花鸡 , 冬瓜排骨汤 , 紫菜蛋汤 , 农家小炒肉 , 血粑鸭火锅。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/gazifandian.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>嘎子饭庄</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">凤凰县虹桥桥头江天广场大门口右侧（肯德基斜对面）</div>
            <div>商家电话：</div>
            <p>推荐菜品：推介菜：血粑鸭、石锅鱼</p>
            <div class="live-dricp">嘎子饭庄主打各类当地特色菜肴及美味小吃，分量十足且价格亲民。店内特色菜：血粑鸭 , 土匪黄牛肉 , 沱江小虾 , 三野菜 , 招牌黄牛排 , 苗家石锅鱼 , 招牌红烧肉 , 腊肉干锅 , 干锅肥肠 , 农家小炒肉</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

    <div class="live-item">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/zuixiangxi.png" alt="产品图片">
        <div class="live-item-contet">
            <h3>醉湘西</h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点">凤凰县凤凰古城虹桥中路97号（虹桥往西220米）</div>
            <div>商家电话：</div>
            <p>推荐菜品：推介菜：石锅鱼、血粑鸭</p>
            <div class="live-dricp">位于虹桥中路的醉湘西饭店服务态度好，环境好，菜的味道好，价格实惠，分量足，能让你吃的舒心，且余味无穷。</div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>

</div>
<div id="footer">
    <div id="footer-box">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/stone.png" alt=""><div class="footer">
        <div class="footer-item">
            <a href="contactUs.html">联系我们</a>
            <div class="contact"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/phone.png" alt="" style="margin-left: 1.74rem"><span>0743-3502059</span></div>
            <span>湖南省湘西土家族苗族自治州</span>
            <a href="https://weibo.com/hnphoenix?from=myfollow_all" target="_blank"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/weibo.png" alt="" style="margin-left: 1.82rem"></a>
            <a href="https://mp.weixin.qq.com/mp/homepage?__biz=MzA4OTQ2OTIxOQ==&amp;hid=1&amp;sn=6e87d4f93f4b065ddac1548451c6fba3" target="_blank"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/wechat.png" alt=""></a>
        </div>
        <div class="line"></div>
        <div class="footer-item2">
            <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/logo.png" alt="">
            <a href="http://www.sunriver.cn/" class="website-link" target="_blank">祥源控股集团有限责任公司</a>
            <a href="http://www.hunanhld.cn/" class="website-link" target="_blank">张家界黄龙洞景区</a>
            <a href="http://qiyunshan.sunriver.cn/" target="_blank">齐云山生态文化旅游区</a>
        </div>
        <div class="footer-item3">
            <span>凤凰古城官网</span>
            <a href="http://beian.miit.gov.cn" target="_blank" style="display: inline-block;">湘ICP备20015967号-1</a>
        </div>
    </div>
    </div></div>


<script type="text/html" id="liveBox">
    <% for(var i = 0;i < liveList.length;i++){ %>
    <div class="live-item">
        <img src="<%= liveList[i].img %>" alt="产品图片">
        <div class="live-item-contet">
            <h3><%= liveList[i].title %></h3>
            <div class="live-address"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="地点"><%= liveList[i].address %></div>
            <div>商家电话：<%= liveList[i].phone %></div>
            <p>推荐菜品：<%= liveList[i].recommend %></p>
            <div class="live-dricp"><%= liveList[i].dricp %></div>
            <!-- <div><a href="" class="live-btn">去购买</a></div> -->
        </div>
    </div>
    <% } %>
</script>
<script>
    $(function(){
        let liveList =[{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/fenghuanglaocaiguan.png',
            title:'凤凰老菜馆',
            phone:'0743-3666634',
            address:'凤凰县虹桥中路17号虹桥桥头（三王庙入口处）',
            recommend:'推荐菜：苗家血粑鸭、招牌石锅鱼',
            dricp:'凤凰老菜馆，是凤凰众多的湘菜馆之一，其菜品的制作精细，用料上比较广泛，口味多变，品种繁多，深受大家的青睐。'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/daguodazao.png',
            title:'大锅大灶柴火饭庄',
            phone:'0743-3666633',
            address:'凤凰县虹桥中路110号（虹桥往南280米）',
            recommend:'推荐菜：柴火鱼、柴火鸭',
            dricp:'大锅大灶柴火饭庄的食材精挑细选，纯正柴火制作，有别样的柴火香，且是古城人气超高的餐厅，古色古香的建筑很有韵味，店内服务热情，菜品丰富。'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/dashi.png',
            title:'大使饭店',
            phone:'0743-3666637',
            address:'凤凰县沱江镇虹桥中路118号',
            recommend:'推荐菜：血粑鸭、酸汤鱼',
            dricp:'在凤凰很有名气，开业十余年，因当年招待黄永玉的德国大使朋友而出名，门脸古香古色，环境还可以，老板娘热情好客。酸白菜、腊肉、炒松油菌等菜肴极具地方特色，口味偏辣，吃起来入味下饭。价格比较公道，性价比高。'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/bainianlaozihao.png',
            title:'百年老字号湘菜',
            phone:'0743-3666673',
            address:'凤凰县虹桥中路26号（建行对面）',
            recommend:'推荐菜：血粑鸭、叫花鸡',
            dricp:'百年老字号湘菜馆是虹桥路上多家餐厅之一，其一湘西特色菜品著称，品类众多，凤凰血粑鸭 , 苗家酸汤鱼 , 深山有机蔬菜 , 肉沫酸豆角 , 招牌石锅鱼 , 土匪鸡 , 土家茄子 , 叫花鸡 , 冬瓜排骨汤 , 紫菜蛋汤 , 农家小炒肉 , 血粑鸭火锅。'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/gazifandian.png',
            title:'嘎子饭庄',
            phone:'0743-3666733',
            address:'凤凰县虹桥桥头江天广场大门口右侧（肯德基斜对面）',
            recommend:'推介菜：血粑鸭、石锅鱼',
            dricp:'嘎子饭庄主打各类当地特色菜肴及美味小吃，分量十足且价格亲民。店内特色菜：血粑鸭 , 土匪黄牛肉 , 沱江小虾 , 三野菜 , 招牌黄牛排 , 苗家石锅鱼 , 招牌红烧肉 , 腊肉干锅 , 干锅肥肠 , 农家小炒肉'
        },{
            img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/product/zuixiangxi.png',
            title:'醉湘西',
            phone:'0743-3666873',
            address:'凤凰县凤凰古城虹桥中路97号（虹桥往西220米）',
            recommend:'推介菜：石锅鱼、血粑鸭',
            dricp:'位于虹桥中路的醉湘西饭店服务态度好，环境好，菜的味道好，价格实惠，分量足，能让你吃的舒心，且余味无穷。'
        }]
        $("#live-box").html(template($("#liveBox").html(),{liveList:liveList}));
    })
</script>
</body>
</html>