<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>古城概述</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="../js/jquery.min.js"></script>
	<link rel="stylesheet" href="../css/about.css">
	<script src="../js/rem.js"></script>
	<script src="../js/template.js"></script>
</head>
<body>
	<header id="header"></header>
	
	<div id="about-box">
		<div style="line-height: 0">
			<img src="../image/Ticketing/fenghuang1.png" alt="头图" class="about-chart">
			<div class="linkList wapper" style="margin-top: 0">
				<a href="index.html">首页</a>
				<img src="../image/Ticketing/point1.png" alt="">
				古城概述
			</div>
		</div>
		
		<div class="about-introduce">
			<div class="about-title">
				<img src="../image/Ticketing/left black.png" alt="">
				古城介绍
				<img src="../image/Ticketing/right black.png" alt="">
			</div>
			<div class="introduce-content">
				<div class="introduce-text">
					<h4>AAAA级景区—国家历史文化名城</h4>
					<div>凤凰古城——国家历史文化名城，首批中国旅游强县，国家AAAA级景区，湖南省湘西土家族苗族自治州所辖八县市之一。 建于清康熙四十三年〔1704年〕。2001年被授予国家历史文化名城称号，是中国历史文化名城，国家AAAA级景区，湖南十大文化遗产之一。曾被新西兰著名作家路易·艾黎称赞为中国最美丽的小城之一，与云南丽江古城、山西平遥古城媲美，享有"北平遥，南凤凰"之美誉。</div>
					<h4>凤凰古城地理</h4>
					<h5>地理位置</h5>
					<div>凤凰古城，位于湖南省湘西土家族苗族自治州的西南部，土地总面积约10平方千米，由苗族、汉族、土家族等28个民族组成，为典型的少数民族聚居区。</div>
					<div>这里是怀化、吉首、贵州铜仁三地之间的必经之路。距铜仁凤凰机场27公里，怀化芷江机场57公里，张家界荷花机场280公里；G209国道与S308省道贯穿全境，枝柳铁路穿境而过。凤凰古城与吉首的德夯苗寨、永顺的猛洞河、贵州的梵净山相毗邻，是怀化、吉首、贵州铜仁三地之间的必经之路，交通便利。</div>
					<h5>四季气候</h5>
					<div>凤凰古城属中亚热带季风湿润性气候，温暖湿润，雨水丰沛，日照充足，具有冬冷夏热，春暖秋凉，四季分明的特点，年平均气温为15.9度，1-2月份最冷，月平均气温2℃；7-9月份最热，月平均气温30℃；年平均降水量1308.1毫米，全年有2个明显降水时段即4-5月（春雨），6-7月（梅雨）,冬季会下雪。</div>
					<a href="about-introduce.html" class="introduce-more">
						了解更多<img src="../image/Ticketing/point2.png" alt="">
					</a>
				</div>
				<img src="../image/Ticketing/view.png" alt="">
			</div>
		</div>
		<div class="wapper about-route">
			<div class="route-title">如何到<span>凤凰古城</span></div>
			<div class="route-content">
				<div class="route-text">
					<div class="route-item">
						<h3>方式一：飞机</h3>
						<p>可飞往以下机场——铜仁凤凰机场、张家界荷花机场、长沙黄花机场</p>
					</div>
					<div class="route-item">
						<h3>方式二：火车/高铁</h3>
						<p>火车可前往以下火车站——怀化高铁南站、怀化火车西站、吉首火车站</p>
					</div>
					<div class="route-item route-item3">
						<h3>方式三：汽车</h3>
						<p>铜仁凤凰机场距离凤凰古城37公里，出站后有直达凤凰古城的大巴车，满坐即开，</br>发班时间：8：00-18：00</br>张家界荷花机场距离凤凰古城220公里，出站后前往市区中心汽车站全程6公里，</br>有直达凤凰古城的大巴车，旺季每天6班：8:30、9:30、12:30、14:30、15:30、16：30，淡季每天4班：9：30、12、30、14：30、15：30
							<div>第一种：从长沙高铁南站乘高铁至怀化南站</div>
							<div>第二种：怀化高铁南站距离凤凰古城85公里：出站后可乘坐直达凤凰古城的大巴车，车程1小时20分钟，发班时间8：00—17：30（满坐即走）</div>
							<div>第三种：吉首火车站距离凤凰古城52公里，出站后可换乘大巴车直达凤凰古城</div>
                        </p>
					</div>
				</div>
				<img src="../image/Ticketing/map.png" alt="地图">
			</div>
		</div>
		<div class="about-people" id="celebrity">
			<div class="about-title">
				<img src="../image/Ticketing/left black.png" alt="">
				古城名人
				<img src="../image/Ticketing/right black.png" alt="">
			</div>
			<div id="celebrity-box"></div>
		</div>
		<div class="wapper about-custom">
			<div class="about-title">
				<img src="../image/Ticketing/left black.png" alt="">
				古城风俗
				<img src="../image/Ticketing/right black.png" alt="">
			</div>
			<div id="custom-content">
				
			</div>
			<a href="about-custom.html" class="custom-more">了解更多<img src="../image/Ticketing/point3.png" alt=""></a>
		</div>
	</div>
	<div id="footer"></div>
</body>
</html>
<!-- 古城风俗模块 -->
<script type="text/html" id="customBox">
	<% for(var i = 0;i < customList.length;i++){ %>
		<div class="custom-item">
			<img src="<%= customList[i].img %>" alt="产品图片">
			<h3><%= customList[i].title %></h3>
			<p><%= customList[i].dricp %></p>
		</div>
	<% } %>
</script>
<!-- 古城名人模块 -->
<script type="text/html" id="celebrityBox">
	<div class="wapper">
		<img src="../image/Ticketing/left-btn.png" class="celebrity-prev" alt="" onclick="aboutData.prevPage(this)">
		<ul class="celebrity-ul">
		<% for(var j = 0;j < celebrityList.length;j++){ %>
			<li class="celebrity-item" data-index="<%= j %>" >
				<img src="<%= celebrityList[j].img %>" alt="" onclick="aboutData.showTip(this)">

				<div class="celebrity-tip" onclick="aboutData.hideTip(this)">
					<h4><%= celebrityList[j].title %></h4>
					<div><%= celebrityList[j].dricp %></div>
				</div>
			</li>
		<% } %>
		</ul>
		<img src="../image/Ticketing/right-btn.png" alt="" class="celebrity-next" onclick="aboutData.nextPage(this)">
	</div>
</script>
<script>
$(function(){
	let customList =[{
		title:'拦门酒',
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/lanmenjiu%402x.png',
		dricp:'拦门酒是苗家山寨的一种古老的习俗，其中以叭咕苗寨最为盛行和最有特色。苗家娶亲嫁女，亲戚朋友都要上门送礼贺喜。好客的主人和贤惠大方的亲朋戚友，总是要把这门喜事办得体面热闹，同时也总是要借个良好的机会展示自己的富有，广交朋友。主人把事先早已准备好的包谷烧酒，请来寨子里德高望重的族老和歌师，在自家的大门口摆下大方桌，桌子上摆满了一碗碗喷着清香的美酒。客人来时，由主管把门的族老首先唱讲贺词，然后，客人中最年长且声望高的长者唱答谢词。',
	},{
		title:'吊脚楼',
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/diaojiaolou%402x.png',
		dricp:'吊脚楼是中国西南地区的古老建筑，最原始的雏形是一种干栏式民居。当人类的记忆尚处于模糊不清的原始时代的时候，有巢氏创造的吊脚楼就作为最古老的民居登上了历史舞台。它临水而立、依山而筑，采集青山绿水的灵气，与大自然浑然一体。吊脚楼建筑形式自由，可以临水而建，可以依山傍谷，或者就建在田坝地边，只是对地面开凿修葺，省时省力。在窗上镂这“双凤朝阳”、“喜鹊嬉梅”等图案，古朴典雅。在沈从文先的故乡凤凰，沱江水傍城而过，当地人临河而居，一幢幢吊脚楼，高高低低，参差错落，别有情趣。',
	},{
		title:'苗族节庆',
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/miaozujieqing%402x.png',
		dricp:'湘西苗族的节庆较多，活动规模大。其中最富有代表性的有：(1)、赶年场。农历正月，湘西苗族人民最热心的是赶年场，其日期由各地自行约定。赶年场那天，男女老少，身着节日盛装，成群结队去赶场。人们不但可以进行物质交流，还可以参加或观看打秋千、舞狮子、玩龙灯、上刀梯等活动，青年男女也多利用这种机会，物色情侣、谈情说爱。即使大雪纷飞，年场也要如期举行。(2)、三月三。湘西苗族传统歌舞节。这一天，苗族人民自动集中到约定的歌场上，参加对歌听歌、跳舞观舞、尽情欢乐。(3)、赶清明。湘西苗族特有的大型歌节，又称"清明歌会"。除了以上还有六月六、七月七等...',
	},{
		title:'土家族哭嫁',
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/kujia%402x.png',
		dricp:'婚姻嫁娶是大家比较感兴趣的风俗之一，少数民族结婚与城市里面的结婚有很大的不同。对于湖南凤凰这边的土家族来说，猪腿就是结为良缘、巧递婚期的暗号。土家族的男女青年在订婚的时候，姑娘会仔细查看情郎带来的背篓，看里面猪腿所传递的信息。土家族另一个有名的风俗就是女孩子出嫁时要唱出嫁歌，而且把是否会哭嫁，作为衡量女子才智和贤德的标志。所以，姑娘们都很重视哭嫁，在十一、二岁的时候，就要开始学“哭嫁歌”了。如今，时代变迁，青年们向往自由幸福，婚姻恋爱皆由自己作主。土家族姑娘出嫁也无须因袭旧时代的婚俗，所以哭嫁现在基本上也很难再见到。',
	},{
		title:'歌乐鼓舞',
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/geleguwu%402x.png',
		dricp:'打溜子:土家族极有特色的打击乐。以双钹、马锣、大锣组成、若加进唢呐便称五子家伙。唱苗歌:苗族人民最喜唱歌，以苗歌传情表意。一首喜歌令你心情舒畅；一首苦歌令你唏嘘垂泪；一首情歌则令人如醉如痴。跳苗鼓：鼓舞是苗族男女老少最喜爱的艺术形式。分女子单人鼓舞、男子单人鼓舞、女子双人鼓舞、男子双从鼓舞、猴儿鼓舞等。湘西民族歌舞：湘西土家族苗族是一个能歌善舞的民族，《赶歌》、《苗山赶秋歌》等先后在国内和国际舞台上演出并获奖。',
	},{
		title:'苗族祭祀',
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/jisi%402x.png',
		dricp:'祭祀是苗族宗教信仰在现实活动中的具体体现，是为实现某些生活愿望而在信仰和崇拜意识指导下的具体行动。筠连苗族的祭祀活动主要有扫墓祭、祭门神、祭天神、祭土地神等。它同汉族文化背景下的祭祀有很大区别，汉族文化的祭祀活动多为一种礼仪，而苗族的祭祀相比之下更为虔诚，更看重祭祀的结果，更笃信祭祀的效果。 苗族认为，房屋大门是重要的管家之神，事关一家人的兴衰和顺。新建的房屋的大门必须祭祀，以祈其保佑全家顺利安康、兴旺发达。',
	}];
	//古城名人
	let celebrityList=[{
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/tianyingzhao.png',
		title:'田应诏——护国统领',
		dricp:'田应诏，号凤丹，生于1876年（清光绪二年），卒于1932年。湖南凤凰县人。参加过戊戌变法，事后搜查因名单名字田继横与其本名不同，未加逮捕。1903年去长沙入陆军将弁学堂，因拳打外国教官，被开除学籍，后得到湖南巡抚赵尔巽赏识，送留学日本。入振武学校，继入陆军士官学校，与何成俊、沈同午、蒋作宾、朱瑞等结成异性兄弟，并结识了孙中山，加入同盟会。',
	},
	{
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/longyingfei.png',
		title:'龙云飞----亦侠亦寇的“青帕苗王”',
		dricp:'凤凰人对这位从小就结伙赌博杀人的山江首领----龙云飞，一直就是众说纷纭，褒贬不一。出走凤凰后，他曾在辰沅一带靠给人做挑夫、拉纤浪迹天涯。\n而后被陈渠珍招入旗下，成为坐镇麻阳的警备司令，接着又在株洲和鄂西的抗日战役中，杀得鬼子人仰马翻。但在新中国成立后，这个豪气凛然、仗义施财、威风骁勇的苗王，在拒绝向人民政府投诚后，就走上了一条反动叛乱的不归路，最后他的首级被当众挂在了自己年轻时曾攻打过的凤凰城楼上。',
	},
	{
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/chenquzhen.png',
		title:'陈渠珍----《艽野尘梦》中的“湘西王”',
		dricp:'在凤凰人看来，最能代表他们身上山野土气和傲骨浪漫游伕气质的人非陈渠珍莫属了。陈渠珍以智慧谋略经营了湘西大半辈于，又敢于和大人物叫板斗狠，自然得到了 “湘西王”的头衔。\n半个世纪后，这位在刀光剑影与颠沛流离中挣扎多年的大侠，竟写出了一段以自己为故事原型的旷世雪域奇恋----《艽野尘梦》，也正是那些两肋插刀、引颈向刃、视死如归、风花雪月的故事，支撑着这个曾驰骋天地的凤凰浪子走完了最后的生命之旅。',
	},
	{
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/shencogwen.png',
		title:'沈从文-与鲁迅齐名的文坛大师',
		dricp:'构筑了“翠翠”和“萧萧”等一系列令人神往人物的文学大师。他早年曾随部队在沅水支流边的城镇游荡了近5年，而后又飘零到了完全陌生的北京，创作了著名的中篇小说《边城》和散文集《湘行散记》等许多作品。\n建国后，这位“转业”的作家，先后在中国历史博物馆和故宫博物院工作，专心研究历史文物，著有《龙凤艺术》、《中国丝绸图案》及《中国古代服饰研究》，用綾罗绸缎、坛坛罐罐、花花朵朵成就了另一个文字之外的沈从文。',
	},
	{
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/huangxingyu.png',
		title:'黄永玉-凤凰城的“匪气”画家',
		dricp:'湘西人常以身上的“匪气”而自豪，那是霸气和义气的同义词。一个没念完中学，也没有经过系统美术训练的人，却凭着天生才情和后天努力，成为了出色的木 刻家、国画家、雕塑家、作家和诗人，这就是如今已80高龄，却依然如老顽童一 般，自称带着同样的“匪气”的黄永玉。在 “春潮”、“阿诗玛”轰动了整个画坛后，又在艺术与乡愁叠加起的慰藉中，用老人特有的睿智与幽默创作了不少像《那些忧郁的碎屑》、《比我老的老头》等等饱含深切情意的文字。',
	},
	{
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/tianxingnu.png',
		title:'田兴恕----被流放的贵州提督',
		dricp:'在清咸半年间有个带领精兵，打前锋、历经百战、屡建战功的哨官，他就是出生于风凰麻冲乡贫苦农家的田兴恕。他机智灵活，骁勇善战，不久便因屡有军功，在24岁时就出任了贵州提督，后又兼贵州巡抚，从此掌管了责州的军事大权。当初因生活所迫参加了清军的田兴怒，在变幻莫测的朝廷中如有起伏的浪花，“开州教案”提督处死洋教士的事件发生后，田兴怒便被发配到了新疆，永不赦免，他在后期的著作中也曾叹道：“人事输赢无常局，贫贱吾家素有风”',
	},
	{
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/xiongxiling.jpg',
		title:'熊希龄——被喻为“湖南神童”',
		dricp:'湖南湘西凤凰人，祖籍江西丰城石滩。曾任北洋政府第四任国务总理，民国时期政治家、教育家、社会活动家、实业家和慈善家。1898年因参加百日维新运动被革职。后为端方援引，充当考察宪政五大臣出洋的参赞，嗣后又调奉天盐运使。武昌起义因拥护袁世凯有功，出任北洋政府财政总长和热河都统。1913年7月31日，熊希龄被任命为国务总理，制定了民国第一部宪法，为中国能尽快走上现代资本主义法制国家的轨道，并由此而建成一个真正意义上民主共和的资产阶级国家。次年曾副署解散国会命令，旋去职。1928年出任国民政府赈务委员会委员，1932年任世界红十字会中华总会会长。',
	},
	{
		img:'https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/about/zhengguohong.jpg',
		title:'郑国鸿——老将德高，才干出众',
		dricp:'因世代军功，18岁时承袭云骑都慰世职。1840年升浙江处州镇总兵。1841年1月，清廷下诏对英宣战。郑国鸿奉命与镇海总兵葛云飞、寿春总兵王锡朋一起将英军赶出海。9月26日下午2万英军、29艘英舰进攻击定海5千守军，时郑国鸿独守的城西南竹山门要隘，与英军血战六昼夜，击沉击伤英舰十余艘。炮台被破后将士用刀矛阻击敌军，65岁的郑国鸿将军，冲入敌阵挥刀连斩数敌，血染疆场，壮烈殉国。',
	}
	]
	$("#custom-content").html(template($("#customBox").html(),{customList:customList}));
	$("#celebrity-box").html(template($("#celebrityBox").html(),{celebrityList:celebrityList}));
	setInterval(function(){
		if(!aboutData.moving){
			// $(".celebrity-ul").prepend($('.celebrity-item').eq($('.celebrity-item').length-1))
		}
	},3000);
	EventUtil.listenTouchDirection($(".celebrity-ul").get(0), true, function(){
	}, function(){
		$(".celebrity-next").eq(0).click()
	}, function(){
	}, function(){
		$(".celebrity-prev").eq(0).click()
	});
})
// 古城概述事件
const aboutData={
	//轮播图上一页
	moving:false,
	interval:null,//轮播图循环
	interval2:null,
	prevPage:(that)=>{

		$(that).parent().find(".celebrity-ul").append($(that).parent().find('.celebrity-item').eq(0))
	},
	//轮播图下一页
	nextPage:(that)=>{
		clearTimeout(aboutData.interval);
		// clearInterval(aboutData.interval2);
		aboutData.moving  = true;
		// let totallPdR = 90;
		// aboutData.interval2 = setInterval(function(){
		// 	totallPdR = totallPdR-1;
		// 	$(that).parent().find(".celebrity-ul").css("padding-right",totallPdR/100+'rem');
		// 	if(totallPdR ==0){
		// 		console.log(totallPdR)
		// 		clearInterval(aboutData.interval2)
		// 	}

		// },10)

		$(that).parent().find(".celebrity-ul").prepend($(that).parent().find('.celebrity-item').eq($(that).parent().find('.celebrity-item').length-1));
		aboutData.interval = setTimeout(function(){
			aboutData.moving = false;
		},1000)
	},
	showTip:(that)=>{
		$(that).next(".celebrity-tip").css("top",0)
	},
	hideTip:(that)=>{
		$(that).css("top","100%")
	}
}
</script>