<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>凤凰古城后台</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/main.css"/><!--主要css样式-->
    <script type="text/javascript" src="bootstrap3/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap3/js/holder.js"></script>
    <script type="text/javascript" src="bootstrap3/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/css3-mediaqueries.js"></script>
    <script type="text/javascript" src="bootstrap3/js/respond.min.js"></script>
    <script type="text/javascript" src="js/jquery.firefly-0.7.min.js"></script>
    <script src="layui/layui.js"></script>
    <script src="js/vue.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">凤凰古城</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div id="sideApp" class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">CRUD</a>
                    <dl class="layui-nav-child">
                        <dd @click="sideClick(1)"><a href="javascript:;">轮播图</a></dd>
                        <dd @click="sideClick(2)"><a href="javascript:;">票务</a></dd>
                        <dd><a href="/showhome">查看效果(跳转网页)</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd @click="sideClick(3)"><a href="javascript:;">用户管理</a></dd>
                        <dd @click="sideClick(4)"><a href="javascript:;">管理员账号管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div id="bodyApp" class="layui-body">
        <!-- 内容主体区域 -->
        <div id="bannerApp" v-show="sideStatus===1" style="padding: 15px;">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>轮播图</th>
                    <th>
                        操作

                    </th>
                </tr>
                <tr v-for="banner in banners">
                    <td><img src="image/homePage/banner1.jpg" alt="图裂了" class="img-thumbnail .img-responsive"
                        style="max-width: 800px"
                        v-bind:src="banner.url">
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" @click.prevent="showInsertBannerForm(banner.id)">添加</button>
                        <button type="button" class="btn btn-danger" @click.prevent="deleteBanner(banner.id)">删除</button>
                        <form id="demoForm" method="post" enctype="multipart/form-data"
                              v-on:submit.prevent="insertBanner(banner.sortNum)"
                              v-show="insertBannerFormStatus==banner.id">
                            选择文件:<input type="file" name="imageFile" id="imageFile">
                            <br>
                            <button type="submit">上传</button>
                        </form>
                    </td>
                </tr>

            </table>

        </div>
        <div v-show="sideStatus===2" style="padding: 15px;">票务</div>
        <div v-show="sideStatus===3" style="padding: 15px;">用户</div>
        <div v-show="sideStatus===4" style="padding: 15px;">管理员</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
</body>
<script src="js/utils.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
    let sideApp = new Vue({//挂载在侧边栏的Vue
        el: "#sideApp",
        data: {},
        methods: {
            sideClick: function (status) {//侧边栏轮播图点击事件(更改主体标签内容)
                bodyApp.sideStatus=status;
                if(status===1){//轮播图CRUD
                    console.log("轮播图CRUD");
                    $.ajax({
                        url: "/banners",
                        data:{
                        },
                        method:"Get",
                        success: function (r) {
                            console.log("banners:"+r);
                            if(r.code==OK) {
                                bodyApp.banners = r.data;
                            }
                        }

                    })
                }else if(status===2){//景区活动CRUD
                    console.log("景区活动CRUD");
                }else if(status===3){//普通用户账户管理
                    console.log("普通用户账户管理");
                }else if(status===4){//管理员账户管理
                    console.log("管理员账户管理");
                }
            },
        }
    })
    let bodyApp = new Vue({//挂载在内容主体的Vue
        el: "#bodyApp",
        data: {
            sideStatus:0,
            banners:[],
            insertBannerFormStatus:0
        },
        methods:{
            showInsertBannerForm:function(id){
                this.insertBannerFormStatus=id;
            },
            insertBanner:function (sortNum) {
                console.log("insertBanner:");
                let files =document.getElementById("imageFile").files;
                console.log("files.length:"+files.length);
                if(files.length>0){
                    let file=files[0];
                    console.log(file);
                    uploadImage(file,sortNum);
                }else{
                    alert("请选择要上传的文件!!!");//如果用户没选中文件,给与提示
                    return;
                }
            },
            deleteBanner:function (id) {
                console.log("deleteBanner");
                $.ajax({
                    url:"/deleteBanner",
                    data:{
                        id:id
                    },
                    method: "get",
                    success:function (r) {
                        console.log("deleteBanner:"+r.code);
                        sideApp.sideClick(1);//执行方法，目的是遍历轮播图
                    }
                })
            }
        }
    })
    function uploadImage(file,sortNum){
        let form=new FormData();
        //将用户上传的文件,追加到表单中imageFile就是它的name属性
        form.append("imageFile",file);
        form.append("sortNum",sortNum)
        $.ajax({
            url:"/addBanner",
            method:"post",
            data: form,
            //文件上传时必须编写的两个属性设置
            contentType:false,
            processData:false,
            success:function(r){
                if(r.code==OK){
                    bodyApp.banners=r.data;
                    bodyApp.insertBannerFormStatus=0;
                }else{
                    alert(r.message);
                }
            }
        });
    }
</script>

</html>