<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>凤凰古城后台</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/main.css"/><!--主要css样式-->
    <link rel="stylesheet" href="bower_components/summernote/dist/summernote-bs4.min.css">

    <script type="text/javascript" src="bootstrap3/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap3/js/holder.js"></script>
    <script type="text/javascript" src="bootstrap3/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/css3-mediaqueries.js"></script>
    <script type="text/javascript" src="bootstrap3/js/respond.min.js"></script>
    <script type="text/javascript" src="js/jquery.firefly-0.7.min.js"></script>
    <script src="layui/layui.js"></script>
    <script src="js/vue.js"></script>
    <script src="bower_components/polyfill/dist/polyfill.min.js"></script>
    <script src="bower_components/summernote/dist/summernote-bs4.js"></script>
    <script src="bower_components/summernote/dist/lang/summernote-zh-CN.min.js"></script>

    <style>
        .modal-backdrop {
            position: relative;!important;/*一个超tmd*******bug  position不能为fixed，否则tmd会发生样式冲突，导致富文本弹出对话框被遮挡*/
        }
        .modal-dialog{
            margin-top: 60px;/*控制富文本弹出对话框的位置*/
        }
    </style>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">凤凰古城</div>
    </div>

    <div id="sideApp" class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">CRUD</a>
                    <dl class="layui-nav-child">
                        <dd @click="sideClick(1)"><a href="javascript:;">轮播图</a></dd>
                        <dd @click="sideClick(2)"><a href="javascript:;">景区公告</a></dd>
                        <dd><a href="/showhome">查看效果(跳转网页)</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd @click="sideClick(3)"><a href="javascript:;">用户管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div id="bodyApp" class="layui-body">
        <!-- 内容主体区域 -->
        <div  v-show="sideStatus===1" style="padding: 15px;">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>轮播图</th>
                    <th>
                        操作
                    </th>
                </tr>
                <tr v-for="banner in banners">
                    <td><img src="image/homePage/banner1.jpg" alt="图裂了" class="img-thumbnail .img-responsive"
                        style="max-width: 800px"
                        v-bind:src="banner.url">
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" @click.prevent="showInsertBannerForm(banner.id)">添加</button>
                        <button type="button" class="btn btn-danger" @click.prevent="deleteBanner(banner.id)">删除</button>
                        <form id="demoForm" method="post" enctype="multipart/form-data"
                              v-on:submit.prevent="insertBanner(banner.sortNum)"
                              v-show="insertBannerFormStatus==banner.id">
                            选择文件:<input type="file" name="imageFile" id="imageFile"
                                    v-bind:id="'imageFile'+banner.sortNum">
                            <br>
                            <button type="submit">上传</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div v-show="sideStatus===2" style="padding: 15px;"> <!--景区公告-->
            <div class="layui-btn-group noticeTable">
                <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
                <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
                <button class="layui-btn" data-type="isAll">验证是否全选</button>
            </div>
            <table class="layui-table" lay-data="{width: 1260, height:360, url:'/notices', id:'idNotice'}" lay-filter="notice">
                <thead>
                <tr>
                    <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                    <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
                    <th lay-data="{field:'title', width:320}">标题</th>
                    <th lay-data="{field:'createtime', width:160, sort: true}">创建时间</th>
                    <th lay-data="{field:'content', width:320}">内容</th>
                    <th lay-data="{field:'dynamic', width:160}">公告or动态</th>
                    <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barNotice'}"></th>
                </tr>
                </thead>
            </table>
            <form class="form-demo" v-on:submit.prevent="createContent">
                <div class="form-group" style="margin-top: 60px">
                    <label for="title">标题:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="请填写标题3~50字符"
                           pattern="^.{3,50}$" required v-model="title">
                </div>
                <div class="form-group">
                    <label >请选择内容类型：</label>
                    <select v-model="dynamic">
                        <option value ="0">景区公告</option>
                        <option value ="1">景区动态</option>
                    </select>
                </div>
                <div class="form-group">
                    <!--富文本编辑器 start-->
                    <label for="summernote" style="margin-top: 10px">问题正文</label>
                    <textarea name="content" id="summernote"></textarea>
                    <!--富文本编辑器 end-->
                </div>
                <button type="submit" class="btn btn-primary mt-3 addNoticeSubmit">添加</button>
                <a id="refreshButton" class="btn btn-primary mt-3">刷新</a>
            </form>
        </div>
        <div v-show="sideStatus===3" style="padding: 15px;"> <!--用户管理-->
            <div class="layui-btn-group userTable">
                <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
                <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
                <button class="layui-btn" data-type="isAll">验证是否全选</button>
            </div>
            <table class="layui-table" lay-data="{width: 892, height:660, url:'/users', id:'idUser'}" lay-filter="user">
                <thead>
                <tr>
                    <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                    <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
                    <th lay-data="{field:'username', width:80}">用户名</th>
                    <th lay-data="{field:'password', width:80, sort: true}">密码</th>
                    <th lay-data="{field:'administrators', width:80}">管理员</th>
                    <th lay-data="{field:'phonenumber', width:160}">电话</th>
                    <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
<script src="js/utils.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });


</script>
<script src="js/backStage_side.js"></script>
<script src="js/backStage_body.js"></script>
<script type="text/html" id="barDemo">
<!--    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">查看数据</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="barNotice">
    <!--    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">查看数据</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="js/backStage_layui_userTable.js"></script>
<script src="js/backStage_layui_noticeTable.js"></script>
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 300,
            tabsize: 2,
            lang: 'zh-CN',
            placeholder: '请输入问题的详细描述...',
            callbacks:{
                //当用户选择图片之后立即执行
                onImageUpload:function(files){
                    //获得用户选中的文件
                    let file=files[0];
                    console.log(file)
                    let form=new FormData();
                    form.append("imageFile",file);
                    $.ajax({
                        url:"/upload/image",
                        method:"post",
                        data:form,
                        contentType:false,
                        processData:false,
                        cache:false,//可以将缓存也关闭节省内存
                        success:function(r){
                            if(r.code==OK){
                                //将图片显示在富文本编辑器中
                                let img=new Image();//实例化一个img标签对象
                                img.src=r.message;//将src属性赋值为访问静态资源的路径
                                //利用summernote提供的api将我们创建的图片显示在富文本编辑器中
                                $("#summernote").summernote(
                                    "insertNode",img);
                            }else{
                                alert(r.message);
                            }
                        }
                    });
                }
            }
        });
    });
</script>
</html>