<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联系我们</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="../css/rem.js"></script>
	<link rel="stylesheet" href="../css/contactUs.css">
</head>
<body>
	<header id="header"></header>
	
	
	<div class="contact-content">
		<h2 class="contact-title" id="introduce">集团介绍</h2>
		<div class="wapper">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;祥源控股集团有限责任公司始创于1992 年，是一家以文化旅游投资运营为主导的大型企业集团，系上市公司祥源文化（600576.SH）、交建股份（603815.SH）实际控制人。 2019年，祥源控股成功蝉联“中国旅游集团20强”荣誉称号。目前，总资产500 亿元，拥有员工6000 人。</br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;祥源控股秉承“健康地活着”的企业愿景，坚持生态优先、绿色发展，以“旅游目的地建造者”为企业使命，积极履行企业公民的社会责任，不断探索中国文旅产业发展的创新模式。</br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自2008年涉足文旅产业以来，祥源控股逐步形成了文旅、地产、建设三大产业集群，通过资源整合、产业协同与专业运营，不断建立完善旅游产品设计研发、运营管理、智能系统、资本运营等后台支撑体系，选择山清水秀、人文独特、交通便捷的优质景区，以尊崇自然、传承文化为前提，通过景区建设和消费内容的双向升级，为游客提供高品质的旅游服务，致力于让游客“乐于逗留24小时以上、并向往反复到达”，逐步打造了一批极具祥源特色的旅游目的地。</br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要包括：湖北武当山八仙观生态文化旅游区、安徽齐云山生态文化旅游区、湖北祥源湾国际度假区、安徽阜阳颍淮生态文化旅游区、安徽合肥祥源花世界生态文化旅游区、安徽合肥庐阳生态文化旅游区等，并与广东丹霞山、湖南凤凰古城、黄龙洞、昭山景区以及象鼻窝森林公园、山东崂山、福建太姥山、安徽黄山、海南万宁新潭湾等著名景区展开全方位战略合作。</br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;多年来，在各级政府、合作伙伴和社会各界人士关心和支持下，祥源控股坚守“客户第一、求真务实、专业精神”的核心价值观，汇聚成长力量、把握发展机遇，积极履行企业公民的社会责任。在深耕文旅产业的同时，祥源以产业扶贫为核心，以旅游目的地建设为抓手，积极推进具有祥源特色的精准扶贫模式，在促进贫困人口就业、提升社会效率、反哺实体经济等方面，不断为社会做出贡献。</br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，作为中国旅游集团20强企业，祥源控股正全力开创中国旅游度假新时代。
		</div>
	</div>
	<div class="linkList wapper" style="margin-top: 0">
		<a href="index.html">首页</a>
		<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
		联系我们
	</div>
	<h2 class="contact-title" id="cooperation">商务合作</h2>
	<ul class="wapper contact-list">
		<li>
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/phone3.png" alt="联系方式">
			</div>
			<h3>联系方式</h3>
			<span>0743-3502059</span>
		</li>
		<li>
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/email.png" alt="邮箱">
			</div>
			<h3>邮箱</h3>
			<span>fenghuang@sunriver</span>
		</li>
		<li><a href="https://mp.weixin.qq.com/mp/homepage?__biz=MzA4OTQ2OTIxOQ==&hid=1&sn=6e87d4f93f4b065ddac1548451c6fba3" target="_blank">
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/wechat3.png" alt="微信公众号">
			</div>
			<h3>凤凰古城公众号</h3>
			点击前往</a>
		</li>
		<li><a href="https://weibo.com/hnphoenix?from=myfollow_all" target="_blank">
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/weibo2.png" alt="凤凰古城官方微博">
			</div>
			<h3>凤凰古城官方微博</h3>
			点击前往</a>
		</li>
		<li>
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/address.png" alt="联系地址">
			</div>
			<h3>联系地址</h3>
			<span>湖南省湘西土家族苗族自治州凤凰县</br>天下凤凰大酒店200米处</span>
		</li>
	</ul>
	<h2 class="contact-title" id="recruit">人才招聘</h2>
	<div class="wapper join-us">
		中国自古以来重视人的德行与修养，凤凰古城将“尚贤使能，德才并育”作为人力资源管理体系的核心价值观，确保员工在公司实现全面、均衡发展。如果你有才华而缺少平台，如果你有抱负而缺少机遇，如果你有梦想而缺少支撑，凤凰将成为你实现人生价值的最佳选择！</br></br>
		致有能力、有眼光的你：</br>
		这有一个展示才能的岗位</br>
		这里有一方塑造价值的空间</br>
		这里有一份释放梦想的事业</br>
		适逢最好的时候
        <h4>我在凤凰</br>等你来
    	</h4>
    	联系人：马先生（人事部）</br>
    	联系电话：0743-3502373                   
    </div>
    <div id="footer"></div>
</body>
</html>