<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>联系我们</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="js/rem.js"></script>
	<link rel="stylesheet" href="css/contactUs.css">
	<script src="./js/jquery.min.js"></script>
	<link rel="stylesheet" href="./css/nav.css">
	<link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
	<link rel="stylesheet" type="text/css" href="bootstrap3/css/main.css"/><!--主要css样式-->
</head>
<body>
<header id="header">
	<!--导航条开始-->
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- 分类标题列表 -->
			<ul class="nav navbar-nav">
				<li><a href="showhome">首页</a></li>
				<li class="dropdown">
					<a href="video-list.html" class="dropdown-toggle dropdown-toggle0">古城景点</a>
					<ul class="dropdown-menu dropdown-menu0">
						<li><a href="video-list.html">宣传视频</a></li>
						<li><a href="publicity-0.html">凤凰九景</a></li>
						<li><a href="publicity-1.html">南方长城</a></li>
						<li><a href="publicity-2.html">奇梁洞</a></li>
						<li><a href="publicity-3.html">边城演艺</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="showticket" class="dropdown-toggle dropdown-toggle1">导览购票</a>
					<ul class="dropdown-menu dropdown-menu1">
						<li><a href="showticket">开放时间</a></li>
						<li><a href="showticket">票务服务</a></li>
						<li><a href="showticket">游览须知</a></li>
						<li><a href="showticket">电子地图</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="product.html" class="dropdown-toggle dropdown-toggle2">吃喝玩乐</a>
					<ul class="dropdown-menu dropdown-menu2">
						<li><a href="product-travel.html">玩在凤凰</a></li>
						<li><a href="product-live.html">住在凤凰</a></li>
						<li><a href="product-eat.html">吃在凤凰</a></li>
						<li><a href="product-buy.html">购在凤凰</a></li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="showabout" class="dropdown-toggle dropdown-toggle3">古城概述</a>
					<ul class="dropdown-menu dropdown-menu3">
						<li><a href="showabout">古城介绍</a></li>
						<li><a href="showabout">古城名人</a></li>
						<li><a href="showabout">古城风俗</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="showinformation" class="dropdown-toggle dropdown-toggle4">景点资讯</a>
					<ul class="dropdown-menu dropdown-menu4">
						<li><a href="showinformation">景点公告</a></li>
						<li><a href="showinformation">景点动态</a></li>
						<li><a href="showinformation">景点活动</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="showcontactus" class="dropdown-toggle dropdown-toggle5">联系我们</a>
					<ul class="dropdown-menu dropdown-menu5">
						<li><a href="showcontactus">集团介绍</a></li>
						<li><a href="showcontactus">商务合作</a></li>
						<li><a href="showcontactus">联系方式</a></li>
						<li><a href="showcontactus">人才招聘</a></li>
					</ul>
				</li>
				<li th:if="${user}!=null" class="dropdown">
					<a href="/showpersonal" class="dropdown-toggle dropdown-toggle6">个人中心</a>
				</li>
				<li th:if="${user}==null" class="dropdown">
					<a href="/showlogin" class="dropdown-toggle dropdown-toggle6">登录</a>
				</li>
			</ul>
		</div><!-- /.container-fluid -->
	</nav>
	<!--导航条结束-->
</header>
	
	
	<div class="contact-content">
		<div class="wapper">
		</div>
	</div>
	<div class="linkList wapper" style="margin-top: 0">
		<a href="index.html">首页</a>
		<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
		联系我们
	</div>
	<h2 class="contact-title" id="cooperation">商务合作</h2>
	<ul class="wapper contact-list">
		<li>
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/phone3.png" alt="联系方式">
			</div>
			<h3>联系方式</h3>
			<span>18030255623</span>
		</li>
		<li>
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/email.png" alt="邮箱">
			</div>
			<h3>邮箱</h3>
			<span>fenghuang@sunriver</span>
		</li>
		<li><a href="https://mp.weixin.qq.com/mp/homepage?__biz=MzA4OTQ2OTIxOQ==&hid=1&sn=6e87d4f93f4b065ddac1548451c6fba3" target="_blank">
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/wechat3.png" alt="微信公众号">
			</div>
			<h3>凤凰古城公众号</h3>
			点击前往</a>
		</li>
		<li><a href="https://weibo.com/hnphoenix?from=myfollow_all" target="_blank">
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/weibo2.png" alt="凤凰古城官方微博">
			</div>
			<h3>凤凰古城官方微博</h3>
			点击前往</a>
		</li>
		<li>
			<div class="contact-item">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/contact/address.png" alt="联系地址">
			</div>
			<h3>联系地址</h3>
			<span>湖南省湘西土家族苗族自治州凤凰县</br>天下凤凰大酒店200米处</span>
		</li>
	</ul>
	<h2 class="contact-title" id="recruit">人才招聘</h2>
	<div class="wapper join-us">
		中国自古以来重视人的德行与修养，凤凰古城将“尚贤使能，德才并育”作为人力资源管理体系的核心价值观，确保员工在公司实现全面、均衡发展。如果你有才华而缺少平台，如果你有抱负而缺少机遇，如果你有梦想而缺少支撑，凤凰将成为你实现人生价值的最佳选择！</br></br>
		致有能力、有眼光的你：</br>
		这有一个展示才能的岗位</br>
		这里有一方塑造价值的空间</br>
		这里有一份释放梦想的事业</br>
		适逢最好的时候
        <h4>我在凤凰</br>等你来
    	</h4>
    	联系人：陈先生（人事部）</br>
    	联系电话：18030255623
    </div>
<div id="footer">
	<div id="footer-box">
		<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/stone.png" alt="">
		<div class="footer">
			<div class="footer-item">
				<a href="showcontactus">联系我们</a>
				<div class="contact"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/phone.png"
										  alt="" style="margin-left: 1.74rem"><span>18030255623</span></div>
				<span>湖南省湘西土家族苗族自治州</span>
				<a href="https://weibo.com/hnphoenix?from=myfollow_all" target="_blank"><img
						src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/weibo.png" alt=""
						style="margin-left: 1.82rem"></a>
				<a href="https://mp.weixin.qq.com/mp/homepage?__biz=MzA4OTQ2OTIxOQ==&amp;hid=1&amp;sn=6e87d4f93f4b065ddac1548451c6fba3"
				   target="_blank"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/wechat.png"
										alt=""></a>
			</div>
			<div class="line"></div>
			<div class="footer-item2">

				<a href="http://www.hunanhld.cn/" class="website-link" target="_blank">张家界黄龙洞景区</a>
				<a href="http://qiyunshan.sunriver.cn/" target="_blank">齐云山生态文化旅游区</a>
			</div>
			<div class="footer-item3">
				<span>凤凰古城官网</span>
				<a href="http://beian.miit.gov.cn" target="_blank" style="display: inline-block;">湘ICP备20015967号-1</a>
			</div>
		</div>
	</div>
</div>
</body><script src="./js/nav.js"></script>
</html>