<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../bootstrap3/css/main.css"/><!--主要css样式-->
    <script src="js/vue.js"></script>
</head>
<body>
<header id="header">
    <!--导航条开始-->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- 分类标题列表 -->
            <ul class="nav navbar-nav">
                <li><a href="showhome">首页</a></li>
                <li class="dropdown">
                    <a href="video-list.html" class="dropdown-toggle dropdown-toggle0">古城景点</a>
                    <ul class="dropdown-menu dropdown-menu0">
                        <li><a href="video-list.html">宣传视频</a></li>
                        <li><a href="publicity-0.html">凤凰九景</a></li>
                        <li><a href="publicity-1.html">南方长城</a></li>
                        <li><a href="publicity-2.html">奇梁洞</a></li>
                        <li><a href="publicity-3.html">边城演艺</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showticket" class="dropdown-toggle dropdown-toggle1">导览购票</a>
                    <ul class="dropdown-menu dropdown-menu1">
                        <li><a href="showticket">开放时间</a></li>
                        <li><a href="showticket">票务服务</a></li>
                        <li><a href="showticket">游览须知</a></li>
                        <li><a href="showticket">电子地图</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="product.html" class="dropdown-toggle dropdown-toggle2">吃喝玩乐</a>
                    <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="product-travel.html">玩在凤凰</a></li>
                        <li><a href="product-live.html">住在凤凰</a></li>
                        <li><a href="product-eat.html">吃在凤凰</a></li>
                        <li><a href="product-buy.html">购在凤凰</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showabout" class="dropdown-toggle dropdown-toggle3">古城概述</a>
                    <ul class="dropdown-menu dropdown-menu3">
                        <li><a href="showabout">古城介绍</a></li>
                        <li><a href="showabout">古城名人</a></li>
                        <li><a href="showabout">古城风俗</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showinformation" class="dropdown-toggle dropdown-toggle4">景点资讯</a>
                    <ul class="dropdown-menu dropdown-menu4">
                        <li><a href="showinformation">景点公告</a></li>
                        <li><a href="showinformation">景点动态</a></li>
                        <li><a href="showinformation">景点活动</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showcontactus" class="dropdown-toggle dropdown-toggle5">联系我们</a>
                    <ul class="dropdown-menu dropdown-menu5">
                        <li><a href="showcontactus">集团介绍</a></li>
                        <li><a href="showcontactus">商务合作</a></li>
                        <li><a href="showcontactus">联系方式</a></li>
                        <li><a href="showcontactus">人才招聘</a></li>
                    </ul>
                </li>
                <li th:if="${user}!=null" class="dropdown">
                    <a href="/showup" class="dropdown-toggle dropdown-toggle6">个人中心</a>
                </li>
                <li th:if="${user}==null" class="dropdown">
                    <a href="/showlogin" class="dropdown-toggle dropdown-toggle6">登录</a>
                </li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
    <!--导航条结束-->
    <!--轮播图开始-->
    <div id="myCarousel" class="carousel slide bannersApp">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <!--在使用th:each语法进行遍历时 会自动创建一个 变量名+Stat 对象
            这个对象里面装着遍历的下标 bStat.index-->
<!--            <li class="active" data-target="#myCarousel" data-slide-to="0"></li>-->
            <li  data-target="#myCarousel" data-slide-to="1"
                 v-for="(banner,index) in banners"
                 v-bind:data-slide-to="index"
                 v-bind:class="{active:isFirst}"
                 v-if="first(index)">
            </li>
<!--            <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--            <li data-target="#myCarousel" data-slide-to="3"></li>-->
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
<!--            <div class="item active">-->
<!--                <img src="image/homePage/banner0.jpg" alt="图裂了..">-->
<!--                <div class="carousel-caption"></div>-->
<!--            </div>-->
            <div class="item" v-for="(banner,index) in banners"
                 v-bind:class="{active:isFirst2}"
                 v-if="first2(index)">
                <img src="image/homePage/banner1.jpg" alt="图裂了.."
                    v-bind:src="banner.url"
                >
                <div class="carousel-caption"></div>
            </div>
<!--            <div class="item">-->
<!--                <img src="image/homePage/banner2.jpg" alt="图裂了..">-->
<!--                <div class="carousel-caption"></div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <img src="image/homePage/banner3.jpg" alt="图裂了..">-->
<!--                <div class="carousel-caption"></div>-->
<!--            </div>-->
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--轮播图结束-->
</header>
<section>
    <!--景点详情+走进景区开始-->
    <div class="homepage-content">
        <div class="wapper homepage-box">
            <!--景点详情开始-->
            <div class="content-left">
                <div class="content-title">
                    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/left red.png" alt="">
                    <span>景点详情</span>
                    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/right red.png" alt="">
                </div>
                <div class="content-left-box">
                    <a href="video-list.html">
                        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/ticket.png">
                        <h3>古城景点</h3>
                        <p>在线实时预定，更方便快捷</p>
                    </a>
                    <a href="showticket">
                        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/explain.png">
                        <h3>导览讲解</h3>
                        <p>边走边听，专属导游服务</p>
                    </a>
                    <a href="product-travel.html">
                        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/strategy.png">
                        <h3>旅游攻略</h3>
                        <p>让你的旅程更加充实和明确</p>
                    </a>
                </div>
            </div>
            <!--预约购票结束-->
            <!--走进景区开始-->
            <div class="content-right">
                <div class="content-title">
                    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/left black.png" alt="">
                    <span style="color: #2E2D2B">走进景区</span>
                    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/right black.png" alt="">
                </div>
                <div class="content-video">
                    <video height="auto" controls="controls" poster="image/homePage/video0.jpg" src="https://xislandtravel.oss-cn-beijing.aliyuncs.com/%E6%B0%B2%E6%9F%93%E5%87%A4%E5%87%B0%28%E4%B8%BB%E8%A7%86%E9%A2%91%EF%BC%89.mp4">

                    </video>
                </div>
                <!--动效开始-->
                <!--动效结束-->
            </div>
            <!--走进景区结束-->
        </div>
    </div>
    <!--景点详情+走进景区结束-->
    <!--景区公告+景区动态开始-->
    <div class="message-box wapper">
        <div id="notice-box">
            <div class="notice-left">
                <div class="message-title">
                    <span>景区公告</span>
                    <a href="showinformation" class="message-more">【了解更多】</a>
                </div>
                <ul>

                    <a href="showinformation">
                        <li>
                            <div class="overhide flex2 notice-content">关于恢复凤凰古城核心九景全面开放的公告</div>
                            <div class="message-btn">
                                2020-09-30 10:51:12
                                <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point right 1.png"
                                     alt="详情">
                            </div>
                        </li>
                    </a>

                    <a href="showinformation">
                        <li>
                            <div class="overhide flex2 notice-content">关于恢复凤凰古城沱江泛舟、南方长城 旅游景区对外开放的公告</div>
                            <div class="message-btn">
                                2020-09-30 10:36:26
                                <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point right 1.png"
                                     alt="详情">
                            </div>
                        </li>
                    </a>

                    <a href="showinformation">
                        <li>
                            <div class="overhide flex2 notice-content">关于暂停凤凰古城九景、奇梁洞、南方长城旅游景区对外开放的公告</div>
                            <div class="message-btn">
                                2020-01-08 16:56:52
                                <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point right 1.png"
                                     alt="详情">
                            </div>
                        </li>
                    </a>

                </ul>
            </div>
        </div>
        <div id="dynamic-box">
            <div class="notice-right">
                <div class="message-title">
                    <span>景区动态</span>
                    <a href="showinformation" class="message-more">【了解更多】</a>
                </div>
                <ul>

                    <a href="showinformation">
                        <li>

                            <div class="flex1">2021-01-12 16:25:34</div>
                            <div class="dynamic-content">
                                <div class="overhide notice-content">定了！2021年来“神秘湘西 凤凰守年”——唤起凤凰古城远去的年味</div>
                                <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point right 1.png"
                                     alt="详情">
                            </div>

                        </li>
                    </a>
                    <a href="showinformation">
                        <li>

                            <div class="flex1">2021-01-04 15:27:02</div>
                            <div class="dynamic-content">
                                <div class="overhide notice-content">2021，从随心所欲的旅程开始吧！</div>
                                <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point right 1.png"
                                     alt="详情">
                            </div>
                        </li>
                    </a>
                    <a href="showinformation">
                        <li>
                            <div class="flex1">2020-09-30 11:16:45</div>
                            <div class="dynamic-content">
                                <div class="overhide notice-content">凤凰古城国庆节出游全攻略</div>
                                <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point right 1.png"
                                     alt="详情">
                            </div>
                        </li>
                    </a>

                </ul>
            </div>
        </div>
    </div>
    <!--景区公告+景区动态结束-->
    <div id="activity-box" class="wapper">
        <div class="activity-title">
            <div>景区活动<span>火热进行中</span></div>
            <a href="activity-list.html" class="activity-more">【更多活动】</a>
        </div>
        <div class="activity-content">
            <div class="activity-img"><img src="https://image.xisland.cn/xmall/default/445b2874d1a87cb2154c87f2d67d97d91578308549.jpg" alt="活动图片"></div>
            <div class="activity-message">
                <div>
                    <h3>春节活动</h3>
                    <p class="overhide">春节活动</p>
                    <div>
                        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/calender.png" alt="活动日期">
                        时间：2020-01-24 00:08:00 至 2020-01-27 00:19:00

                    </div>
                    <div>
                        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/location.png" alt="活动地点" class="location-icon">
                        地点：凤凰古城万寿宫
                    </div>
                </div>

                <a href="activity-details.html?id=12" class="activity-btn">活动详情<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point right 1.png" alt="详情"></a>
            </div>
        </div>
    </div>
    <!--客栈餐厅等开始-->
    <div id="recommend-box">
        <ul>
            <a href="product-live.html">
                <li>
                    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/view1.png" alt="">
                    <p>酒店客栈</p>
                </li>
            </a>
            <a href="product-eat.html">
                <li>
                    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/view2.png" alt="">
                    <p style="background:rgba(111,69,44,0.62);">当地餐厅</p>
                </li>
            </a>
            <a href="product-buy.html">
                <li>
                    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/view3.png" alt="">
                    <p style="background:rgba(60,43,44,0.62);">凤凰文创</p>
                </li>
            </a>
            <a href="product-travel.html">
                <li>
                    <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/view4.png" alt="">
                    <p style="background:rgba(104,121,96,0.62);">活动服务</p>
                </li>
            </a>
        </ul>
    </div>
    <!--客栈餐厅等结束-->

</section>
<div id="footer">
    <div id="footer-box">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/stone.png" alt="">
        <div class="footer">
            <div class="footer-item">
                <a href="showcontactus">联系我们</a>
                <div class="contact"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/phone.png"
                                          alt="" style="margin-left: 1.74rem"><span>18030255623</span></div>
                <span>湖南省湘西土家族苗族自治州</span>
                <a href="https://weibo.com/hnphoenix?from=myfollow_all" target="_blank"><img
                        src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/weibo.png" alt=""
                        style="margin-left: 1.82rem"></a>
                <a href="https://mp.weixin.qq.com/mp/homepage?__biz=MzA4OTQ2OTIxOQ==&amp;hid=1&amp;sn=6e87d4f93f4b065ddac1548451c6fba3"
                   target="_blank"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/wechat.png"
                                        alt=""></a>
            </div>
            <div class="line"></div>
            <div class="footer-item2">

                <a href="http://www.hunanhld.cn/" class="website-link" target="_blank">张家界黄龙洞景区</a>
                <a href="http://qiyunshan.sunriver.cn/" target="_blank">齐云山生态文化旅游区</a>
            </div>
            <div class="footer-item3">
                <span>凤凰古城官网</span>
                <a href="http://beian.miit.gov.cn" target="_blank" style="display: inline-block;">湘ICP备20015967号-1</a>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="bootstrap3/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap3/js/holder.js"></script>
<script type="text/javascript" src="bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript" src="bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="bootstrap3/js/respond.min.js"></script>
<script type="text/javascript" src="js/jquery.firefly-0.7.min.js"></script>
<script>
    //让轮播图开始移动
    $("#myCarousel").carousel("cycle");

    //首页导航栏下拉框
    for (let i = 0; i < 6; i++) {
        $(".dropdown-toggle" + i + ",.dropdown-menu" + i).hover(function () {
            $(".dropdown-menu" + i).stop().slideDown(300);
        }, function () {
            $(".dropdown-menu" + i).stop().slideUp(300);
        });
    }

    //设置rem相对根元素字体大小
    (function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if (clientWidth >= 1920) {
                    docEl.style.fontSize = '100px';
                } else if (clientWidth >= 850) {
                    docEl.style.fontSize = 100 * (clientWidth / 1920) + 'px';
                } else {
                    docEl.style.fontSize = '70px';
                }
            };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script src="js/utils.js"></script>
<script src="js/banners.js"></script>
<script src="js/activities.js"></script>
</html>