<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>景区资讯</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="css/information.css">
	<script src="js/rem.js"></script>
	<script src="./js/jquery.min.js"></script>
	<link rel="stylesheet" href="./css/nav.css">
	<link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
	<link rel="stylesheet" type="text/css" href="bootstrap3/css/main.css"/><!--主要css样式-->
	<script src="js/vue.js"></script>
</head>
<body>

<header id="header">
	<!--导航条开始-->
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- 分类标题列表 -->
			<ul class="nav navbar-nav">
				<li><a href="showhome">首页</a></li>
				<li class="dropdown">
					<a href="video-list.html" class="dropdown-toggle dropdown-toggle0">古城景点</a>
					<ul class="dropdown-menu dropdown-menu0">
						<li><a href="video-list.html">宣传视频</a></li>
						<li><a href="publicity-0.html">凤凰九景</a></li>
						<li><a href="publicity-1.html">南方长城</a></li>
						<li><a href="publicity-2.html">奇梁洞</a></li>
						<li><a href="publicity-3.html">边城演艺</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="showticket" class="dropdown-toggle dropdown-toggle1">导览购票</a>
					<ul class="dropdown-menu dropdown-menu1">
						<li><a href="showticket">开放时间</a></li>
						<li><a href="showticket">票务服务</a></li>
						<li><a href="showticket">游览须知</a></li>
						<li><a href="showticket">电子地图</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="product.html" class="dropdown-toggle dropdown-toggle2">吃喝玩乐</a>
					<ul class="dropdown-menu dropdown-menu2">
						<li><a href="product-travel.html">玩在凤凰</a></li>
						<li><a href="product-live.html">住在凤凰</a></li>
						<li><a href="product-eat.html">吃在凤凰</a></li>
						<li><a href="product-buy.html">购在凤凰</a></li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="showabout" class="dropdown-toggle dropdown-toggle3">古城概述</a>
					<ul class="dropdown-menu dropdown-menu3">
						<li><a href="showabout">古城介绍</a></li>
						<li><a href="showabout">古城名人</a></li>
						<li><a href="showabout">古城风俗</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="showinformation" class="dropdown-toggle dropdown-toggle4">景点资讯</a>
					<ul class="dropdown-menu dropdown-menu4">
						<li><a href="showinformation">景点公告</a></li>
						<li><a href="showinformation">景点动态</a></li>
						<li><a href="showinformation">景点活动</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="showcontactus" class="dropdown-toggle dropdown-toggle5">联系我们</a>
					<ul class="dropdown-menu dropdown-menu5">
						<li><a href="showcontactus">集团介绍</a></li>
						<li><a href="showcontactus">商务合作</a></li>
						<li><a href="showcontactus">联系方式</a></li>
						<li><a href="showcontactus">人才招聘</a></li>
					</ul>
				</li>
				<li th:if="${user}!=null" class="dropdown">
					<a href="/showup" class="dropdown-toggle dropdown-toggle6">个人中心</a>
				</li>
				<li th:if="${user}==null" class="dropdown">
					<a href="/showlogin" class="dropdown-toggle dropdown-toggle6">登录</a>
				</li>
			</ul>
		</div><!-- /.container-fluid -->
	</nav>
	<!--导航条结束-->
</header>
	<div id="bodyApp">
		<div style="line-height: 0">
			<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/inf.png" alt="头图" style="width: 100%" class="about-chart3">
			<div class="linkList wapper" style="margin-top: 0">
				<a href="index.html">首页</a>
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
				景区资讯
			</div>
		</div>
		
		<div id="information-notice">
			<a href="notice.html" class="notice-item wapper"
			v-for="notice in notices"
			v-if="notice.dynamic==0"
			   v-bind:href="'notice.html?'+notice.id"
			>
				<h3 v-text="notice.title">关于恢复凤凰古城核心九景全面开放的公告</h3>

				<div v-text="notice.createtime">2020-09-30 10:51:12<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point3.png" alt=""></div>
			</a>
<!--			<a href="#" class="notice-item wapper">-->
<!--				<h3>关于恢复凤凰古城沱江泛舟、南方长城 旅游景区对外开放的公告</h3>-->

<!--				<div>2020-09-30 10:36:26<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point3.png" alt=""></div>-->
<!--			</a>-->
<!--			<a href="#" class="notice-item wapper">-->
<!--				<h3>关于暂停凤凰古城九景、奇梁洞、南方长城旅游景区对外开放的公告</h3>-->

<!--				<div>2020-01-08 16:56:52<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point3.png" alt=""></div>-->
<!--			</a>-->
		</div>
<!--		<a href="#" class="information-more wapper">查看更多<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point5.png" alt=""></a>-->
		<div id="information-activity">
			<div class="information-title">
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/left black.png" alt="">
				景区活动
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/right black.png" alt="">
			</div>
			<ul class="activity-content wapper">

				<li class="activity-item">
					<img src="https://image.xisland.cn/xmall/default/445b2874d1a87cb2154c87f2d67d97d91578308549.jpg" alt="活动图片">
					<span class="activity-tip">已结束</span>
					<h3>春节活动</h3>
					<div>
						2020-01-08 11:09:25
						<a href="activity-details.html?id=12">活动详情 &gt;&gt;</a>
					</div>
				</li>

<!--				<li class="activity-item">-->
<!--					<img src="https://image.xisland.cn/xmall/default/43e7343a68a5224741f26495cf538af0沈从文.jfif" alt="活动图片">-->
<!--					<span class="activity-tip">已结束</span>-->
<!--					<h3>九九重阳节</h3>-->
<!--					<div>-->
<!--						2020-01-08 11:19:16-->
<!--						<a href="activity-details.html?id=13">活动详情 &gt;&gt;</a>-->
<!--					</div>-->
<!--				</li>-->

<!--				<li class="activity-item">-->
<!--					<img src="https://image.xisland.cn/xmall/default/3856dc7bb2c83ec0721999f0782d272e测试用.jpg" alt="活动图片">-->
<!--					<span class="activity-tip">已结束</span>-->
<!--					<h3>凤凰古城</h3>-->
<!--					<div>-->
<!--						2020-01-09 15:18:47-->
<!--						<a href="activity-details.html?id=14">活动详情 &gt;&gt;</a>-->
<!--					</div>-->
<!--				</li>-->

			</ul>
		</div>
		<div id="information-dynamic" class="wapper">
			<h2>景区动态</h2>
			<a href="#" class="dynamic-item"
			v-for="notice in notices"
			   v-if="notice.dynamic==1"
			   v-bind:href="'notice.html?'+notice.id">
				<div v-text="notice.createtime">2021-01-12 16:25:34</div>
				<div class="dynamic-dricp overhide" v-text="notice.title">不可错过的新年祈福活动</div>
				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point3.png" alt="">
			</a>
<!--			<a href="#" class="dynamic-item">-->
<!--				<div>2021-01-04 15:27:02</div>-->
<!--				<div class="dynamic-dricp overhide">2021，凤凰古城等着您！</div>-->
<!--				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point3.png" alt="">-->
<!--			</a>-->
<!--			<a href="#" class="dynamic-item">-->
<!--				<div>2020-09-30 11:16:45</div>-->
<!--				<div class="dynamic-dricp overhide">攻略</div>-->
<!--				<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point3.png" alt="">-->
<!--			</a>-->
		</div>
<!--		<a href="#" class="information-more wapper">查看更多<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point5.png" alt=""></a>-->
	</div>
<div id="footer">
	<div id="footer-box">
		<img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/stone.png" alt="">
		<div class="footer">
			<div class="footer-item">
				<a href="showcontactus">联系我们</a>
				<div class="contact"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/phone.png"
										  alt="" style="margin-left: 1.74rem"><span>18030255623</span></div>
				<span>湖南省湘西土家族苗族自治州</span>
				<a href="https://weibo.com/hnphoenix?from=myfollow_all" target="_blank"><img
						src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/weibo.png" alt=""
						style="margin-left: 1.82rem"></a>
				<a href="https://mp.weixin.qq.com/mp/homepage?__biz=MzA4OTQ2OTIxOQ==&amp;hid=1&amp;sn=6e87d4f93f4b065ddac1548451c6fba3"
				   target="_blank"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/wechat.png"
										alt=""></a>
			</div>
			<div class="line"></div>
			<div class="footer-item2">

				<a href="http://www.hunanhld.cn/" class="website-link" target="_blank">张家界黄龙洞景区</a>
				<a href="http://qiyunshan.sunriver.cn/" target="_blank">齐云山生态文化旅游区</a>
			</div>
			<div class="footer-item3">
				<span>凤凰古城官网</span>
				<a href="http://beian.miit.gov.cn" target="_blank" style="display: inline-block;">湘ICP备20015967号-1</a>
			</div>
		</div>
	</div>
</div>
</body>
<script src="./js/nav.js"></script>
<script src="js/backStage_body.js"></script>
</html>
