<html lang="en" style="font-size: 86.5625px;">
<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://hm.baidu.com/hm.js?5b8572ca1660965974d2ea9f755f0459"></script>
    <script src="./js/template.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/common.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/information.css">
    <script src="./js/rem.js"></script>
    <script src="./js/api.js"></script>
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/main.css"/><!--主要css样式-->
    <script src="./js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
<header id="header">
    <!--导航条开始-->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- 分类标题列表 -->
            <ul class="nav navbar-nav">
                <li><a href="showhome">首页</a></li>
                <li class="dropdown">
                    <a href="video-list.html" class="dropdown-toggle dropdown-toggle0">古城景点</a>
                    <ul class="dropdown-menu dropdown-menu0">
                        <li><a href="video-list.html">宣传视频</a></li>
                        <li><a href="publicity-0.html">凤凰九景</a></li>
                        <li><a href="publicity-1.html">南方长城</a></li>
                        <li><a href="publicity-2.html">奇梁洞</a></li>
                        <li><a href="publicity-3.html">边城演艺</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showticket" class="dropdown-toggle dropdown-toggle1">导览购票</a>
                    <ul class="dropdown-menu dropdown-menu1">
                        <li><a href="showticket">开放时间</a></li>
                        <li><a href="showticket">票务服务</a></li>
                        <li><a href="showticket">游览须知</a></li>
                        <li><a href="showticket">电子地图</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="product.html" class="dropdown-toggle dropdown-toggle2">吃喝玩乐</a>
                    <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="product-travel.html">玩在凤凰</a></li>
                        <li><a href="product-live.html">住在凤凰</a></li>
                        <li><a href="product-eat.html">吃在凤凰</a></li>
                        <li><a href="product-buy.html">购在凤凰</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showabout" class="dropdown-toggle dropdown-toggle3">古城概述</a>
                    <ul class="dropdown-menu dropdown-menu3">
                        <li><a href="showabout">古城介绍</a></li>
                        <li><a href="showabout">古城名人</a></li>
                        <li><a href="showabout">古城风俗</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showinformation" class="dropdown-toggle dropdown-toggle4">景点资讯</a>
                    <ul class="dropdown-menu dropdown-menu4">
                        <li><a href="showinformation">景点公告</a></li>
                        <li><a href="showinformation">景点动态</a></li>
                        <li><a href="showinformation">景点活动</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showcontactus" class="dropdown-toggle dropdown-toggle5">联系我们</a>
                    <ul class="dropdown-menu dropdown-menu5">
                        <li><a href="showcontactus">集团介绍</a></li>
                        <li><a href="showcontactus">商务合作</a></li>
                        <li><a href="showcontactus">联系方式</a></li>
                        <li><a href="showcontactus">人才招聘</a></li>
                    </ul>
                </li>
                <li th:if="${user}!=null" class="dropdown">
                    <a href="/showup" class="dropdown-toggle dropdown-toggle6">个人中心</a>
                </li>
                <li th:if="${user}==null" class="dropdown">
                    <a href="/showlogin" class="dropdown-toggle dropdown-toggle6">登录</a>
                </li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
    <!--导航条结束-->
</header>
<div class="pm" id="noticeApp">
    <div class="wapper" id="custom-box">
        <div class="linkList wapper linkList2">
            <a href="index.html">首页</a>
            <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
            <a href="information.html">景区资讯</a>
            <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
            <a href="notice-list.html">景区公告</a>
            <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
            公告详情
        </div>
        <div class="information-title" style="margin-top: .6rem">
            <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/left black.png" alt="">
            <span class="dynamic-details"
            v-text="notice.title">

            </span>
            <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/right black.png" alt="">
        </div>
        <div id="custom-box-content"
        v-html="notice.content">

        </div>
    </div>
</div>
</body>
<script src="js/utils.js"></script>
<script src="./js/nav.js"></script>
<script src="./js/noticeDetail.js"></script>
</html>