<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<div id="doc3">
    <div id="bd">
        <div class="grid-2 clearfix">
            <div class="aside">
                <div class="aside-menu">
                    <ul>
                        <li><a href="personal.html"><i class="ico ico-7"></i>基本资料</a></li>
                        <li><a href="#"><i class="ico ico-12"></i>订单管理</a></li>
                        <li class="current"><a href="passwordquestion.html"><i class="ico ico-16"></i>密保问题</a></li>
                        <li><a href="updatepassword.html"><i class="ico ico-11"></i>修改密码</a></li>
                        <li><a href="showhome"><i class="ico ico-13"></i>退出登录</a></li>
                    </ul>
                </div>
            </div>
            <div class="article">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline" style="margin-top: 50px;margin-left: 50px">
                            <label class="layui-form-label">密保问题1:</label>
                            <div class="layui-input-inline" style="margin-bottom: 20px">
                                <select name="quiz">
                                    <option value="">请选择问题</option>
                                    <optgroup label="城市记忆">
                                        <option value="你工作的第一个城市">你工作的第一个城市</option>
                                    </optgroup>
                                    <optgroup label="学生时代">
                                        <option value="你的工号">你的工号</option>
                                        <option value="你最喜欢的老师">你最喜欢的老师</option>
                                    </optgroup>
                                </select>
                            </div><br>
                            <label class="layui-form-label">答案1:</label>
                            <div class="layui-input-block" style="margin-top: 20px">
                                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入答案" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline" style="margin-top: 50px;margin-left: 50px">
                            <label class="layui-form-label">密保问题2:</label>
                            <div class="layui-input-inline" style="margin-bottom: 20px">
                                <select name="quiz">
                                    <option value="">请选择问题</option>
                                    <optgroup label="城市记忆">
                                        <option value="你工作的第一个城市">你工作的第一个城市</option>
                                    </optgroup>
                                    <optgroup label="学生时代">
                                        <option value="你的工号">你的工号</option>
                                        <option value="你最喜欢的老师">你最喜欢的老师</option>
                                    </optgroup>
                                </select>
                            </div><br>
                            <label class="layui-form-label">答案2:</label>
                            <div class="layui-input-block" style="margin-top: 20px">
                                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入答案" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <button class="layui-btn" lay-submit lay-filter="formDemo" style="margin: 30px 0 0 175px">立即提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……

        //如果你的 HTML 是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来进行渲染
        form.render();
    });
</script>
</body>
</html>