<html lang="en" style="font-size: 50.3125px;" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>攻略详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/about.css">
    <script src="./js/rem.js"></script>
    <script src="./js/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/main.css"/><!--主要css样式-->
</head>
<body>
<header id="header">
    <!--导航条开始-->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- 分类标题列表 -->
            <ul class="nav navbar-nav">
                <li><a href="showhome">首页</a></li>
                <li class="dropdown">
                    <a href="video-list.html" class="dropdown-toggle dropdown-toggle0">古城景点</a>
                    <ul class="dropdown-menu dropdown-menu0">
                        <li><a href="video-list.html">宣传视频</a></li>
                        <li><a href="publicity-0.html">凤凰九景</a></li>
                        <li><a href="publicity-1.html">南方长城</a></li>
                        <li><a href="publicity-2.html">奇梁洞</a></li>
                        <li><a href="publicity-3.html">边城演艺</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showticket" class="dropdown-toggle dropdown-toggle1">导览购票</a>
                    <ul class="dropdown-menu dropdown-menu1">
                        <li><a href="showticket">开放时间</a></li>
                        <li><a href="showticket">票务服务</a></li>
                        <li><a href="showticket">游览须知</a></li>
                        <li><a href="showticket">电子地图</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="product.html" class="dropdown-toggle dropdown-toggle2">吃喝玩乐</a>
                    <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="product-travel.html">玩在凤凰</a></li>
                        <li><a href="product-live.html">住在凤凰</a></li>
                        <li><a href="product-eat.html">吃在凤凰</a></li>
                        <li><a href="product-buy.html">购在凤凰</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showabout" class="dropdown-toggle dropdown-toggle3">古城概述</a>
                    <ul class="dropdown-menu dropdown-menu3">
                        <li><a href="showabout">古城介绍</a></li>
                        <li><a href="showabout">古城名人</a></li>
                        <li><a href="showabout">古城风俗</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showinformation" class="dropdown-toggle dropdown-toggle4">景点资讯</a>
                    <ul class="dropdown-menu dropdown-menu4">
                        <li><a href="showinformation">景点公告</a></li>
                        <li><a href="showinformation">景点动态</a></li>
                        <li><a href="showinformation">景点活动</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="showcontactus" class="dropdown-toggle dropdown-toggle5">联系我们</a>
                    <ul class="dropdown-menu dropdown-menu5">
                        <li><a href="showcontactus">集团介绍</a></li>
                        <li><a href="showcontactus">商务合作</a></li>
                        <li><a href="showcontactus">联系方式</a></li>
                        <li><a href="showcontactus">人才招聘</a></li>
                    </ul>
                </li>
                <li th:if="${user}!=null" class="dropdown">
                    <a href="/showpersonal" class="dropdown-toggle dropdown-toggle6">个人中心</a>
                </li>
                <li th:if="${user}==null" class="dropdown">
                    <a href="/showlogin" class="dropdown-toggle dropdown-toggle6">登录</a>
                </li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
    <!--导航条结束-->
</header>
<div class="wapper" id="custom-box">
    <div class="linkList wapper linkList2">
        <a href="index.html">首页</a>
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
        <a href="product.html">吃喝玩乐</a>
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
        <a href="product-travel.html">玩在凤凰</a>
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/point1.png" alt="">
        攻略详情
    </div>
    <div id="custom-box-content" style="font-size: .16rem"><p style="font-weight: 400;">&nbsp;</p>
        <h2 style="font-weight: 400;"><strong>乘舟望水，留韵凤凰</strong></h2>
        <h2 style="font-weight: 400;"><strong>&nbsp;</strong></h2>
        <h2 style="font-weight: 400;"><strong>- 凤凰景区 -</strong></h2>
        <p style="font-weight: 400;"><strong>&nbsp;</strong></p>
        <h3 style="font-weight: 400;">
            【凤凰古城】国家历史文化名城，风景秀丽，名胜古迹甚多，石板小街，古代城楼，明清古院。两边是百年历史的苗家吊脚楼，沿途有跳岩、古城墙、虹桥等凤古城的标志性景点。清晨的沱江边，雾气重重，当地居民咚咚咚的在江边捶洗衣物，是古城最美的场景之一。</h3>
        <p style="font-weight: 400;"><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0743445adf1870179f7.png!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0743445adf1870179f7.png!80"></p>
        <p style="font-weight: 400;">明代古迹【中国南方长城】，又被称为“苗疆万里墙”，穿越千年时空，腾空而起的狮子山，观仰天长啸青龙山，将军墓，“人为棋子，地为盘”的世界最大围棋盘；</p>
        <p style="font-weight: 400;"><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0744005adf188034ab7.jpg!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0744005adf188034ab7.jpg!80"></p>
        <p style="font-weight: 400;">
            湘西千年未解之谜落花洞女的发生地【奇梁洞】。它是湘西最大的“土匪洞”，洞中冬暖夏凉，风景梦幻，古战场，阴河，雨洗心荷，苗王号角等大小几十个景点让您眼花缭乱，痴迷其中；</p>
        <p style="font-weight: 400;">&nbsp;</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>沈从文故居</strong></p>
        <p style="font-weight: 400;"><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0757225adf1ba2d353a.png!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0757225adf1ba2d353a.png!80"></p>
        <p style="font-weight: 400;">
            沈从文先生就出生在这里——一座具有明清建筑风格的小巧院落。小院中间有个天井，共有10间房，是沈从文的祖父沈洪富于清代同治初年建造的。沈从文在这度过了他的童年和少年时光。</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>熊希龄故居</strong></p>
        <p style="font-weight: 400;"><strong><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0757375adf1bb14cfda.jpg!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0757375adf1bb14cfda.jpg!80"></strong>
        </p>
        <p style="font-weight: 400;">熊希龄故居位于古城北文星街的一个小巷内。占地面积800平方米，门、窗为木结构，其上或雕花或绘图，造型大方、做工精美，是典型的苗族古院落建筑模式，极富民族风情。</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>杨家祠堂</strong></p>
        <p style="font-weight: 400;"><strong><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0757575adf1bc592d5f.jpg!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0757575adf1bc592d5f.jpg!80"></strong>
        </p>
        <p style="font-weight: 400;">
            杨家祠堂至今在凤凰保护最为完整的祠堂，位于县城东北部古城墙边。是由太子少保、果勇侯、镇竿总兵杨芳捐资修建于清道光十六年（1836年）。祠堂由大门、戏台、过亭、廊房、正厅、厢房组成。</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>古城博物馆</strong></p>
        <p style="font-weight: 400;"><strong><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0758115adf1bd3142fb.jpg!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0758115adf1bd3142fb.jpg!80"></strong>
        </p>
        <p style="font-weight: 400;">
            凤凰古城博物馆坐落在凤凰古城道门口，馆长雷雨田，坐落在原陈宝箴世家的百年老宅，占地面积达1600多平方米，是一个集凤凰古城博物馆、陈宝箴世家、雷雨田艺术馆三大载体为一体的文化载体。凤凰古城博物馆将成为凤凰县人文景观的又一道风景，为对外交流及沟通海峡两岸文化提供重要的展示平台。</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>崇德堂</strong></p>
        <p style="font-weight: 400;"><strong><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0758495adf1bf9a37ae.jpg!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0758495adf1bf9a37ae.jpg!80"></strong>
        </p>
        <p style="font-weight: 400;">崇德堂位于凤凰古城中史家弄街，崇德堂是史氏堂口，于1884年由江西丰城人裴守禄修建。崇德堂建筑规矩雅致，是一座典型的南方四合院。</p>
        <p style="font-weight: 400;">&nbsp;</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>东门城楼</strong></p>
        <p style="font-weight: 400;">
            东门城楼即“升恒为凤凰古城四大城门之一”，面对东岭，紧靠沱江，古朴典雅。始建于清康熙五十四年(1715年)，其城楼式样，仿北京前门用城砖砌筑，歇山屋顶，下层覆以腰檐，飞檐翘角，造型庄严雄伟。</p>
        <p style="font-weight: 400;">&nbsp;</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>虹桥艺术楼</strong></p>
        <p style="font-weight: 400;"><strong><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0800535adf1c75967c7.jpg!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0800535adf1c75967c7.jpg!80"></strong>
        </p>
        <p style="font-weight: 400;">
            原名卧虹桥，建于清代康熙九年（1670年），民国三年重修，改名为虹桥。桥有二墩三孔，是用木地红条沙石砌成的石拱桥。原桥面两侧各建有12间吊脚楼木板房，开设饮食、百货店，中间为2米宽的人行长廊。长廊上方建有屋顶，行走廊中，可避风雨，故又称风雨楼。</p>
        <p style="font-weight: 400;">&nbsp;</p>
        <p style="font-weight: 400;">&nbsp;</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>万寿宫</strong></p>
        <p style="font-weight: 400;"><strong><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0801045adf1c80dd414.jpg!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0801045adf1c80dd414.jpg!80"></strong>
        </p>
        <p style="font-weight: 400;">
            万寿宫形成建筑规模宏大设计精巧独特，雕琢玲珑剔透的建筑群落。紧靠大门与高大门楼连为一体的，北有阳楼，西有遐昌阁。4000多平方米内矗立殿宇、房舍20余间，或飞檐翘角或回廊游转，或卧龙啸空，或奇兽驰地，简直是殿宇楼台荟萃，建筑艺术大观。</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>沱江泛舟</strong></p>
        <p style="font-weight: 400;"><strong><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0801195adf1c8f7dc7c.jpg!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0801195adf1c8f7dc7c.jpg!80"></strong>
        </p>
        <p style="font-weight: 400;">
            沱江是凤凰古城的母亲河，你可以直接站在岸边与她亲密接触；也可以站在高处向下眺望，如万名塔等地；还可以乘船换个角度欣赏沱江，清澈的河水下还有水草摇摆，一种远离尘世之感油然而生。
            沱江泛舟有两段，上游为正规游船，在北门城楼北侧的码头上船东行至万寿宫下船，中途在江中欣赏沱江风光。</p>
        <p style="font-weight: 400;">&nbsp;</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>南方长城</strong></p>
        <p style="font-weight: 400;"><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0801395adf1ca327247.jpg!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0801395adf1ca327247.jpg!80"></p>
        <p style="font-weight: 400;">我国南方少数民族地区唯一的长城。</p>
        <p style="font-weight: 400;">
            南方长城，又称“苗疆万里墙”，始筑于明朝万历四十年（公元1615年），是明代长城的一部分，大体位于湖南省凤凰县，南起与铜仁交界的亭子关，北到吉首的喜鹊营，全长约190公里，被称为“苗疆万里墙”，是中国历史上工程浩大的古建筑之一。</p>
        <p style="font-weight: 400;">&nbsp;</p>
        <p style="font-weight: 400;"><strong>||</strong><strong>奇梁洞</strong></p>
        <p style="font-weight: 400;"><strong><img
                src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0803265adf1d0e16704.png!80" alt=""
                data-ke-src="http://p-product-detail-ld.test.upcdn.net/2018/04/24/0803265adf1d0e16704.png!80"></strong>
        </p>
        <p style="font-weight: 400;">
            奇梁洞位于凤凰古城以北的奇梁桥乡，吉凤公路左侧。该景点集山、河、峡谷、险滩、绝壁、飞瀑、丛林、田园、村落于一洞，以“奇、秀、幽、峻”四大特色著称，有“奇梁归来不看洞”之说。洞口宛如巨龙张口，高50余米，宽20多米，一条清溪穿溶洞而过，洞长6000余米，洞内有“古战场”、“画廊”、“天堂”、“龙宫”、“阴阳河”五大景区。</p>
        <p style="font-weight: 400;"><strong>地址：湖南省湘西土家族苗族自治州凤凰县凤凰古城</strong></p></div>
</div>
<div id="footer">
    <div id="footer-box">
        <img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/stone.png" alt="">
        <div class="footer">
            <div class="footer-item">
                <a href="showcontactus">联系我们</a>
                <div class="contact"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/phone.png"
                                          alt="" style="margin-left: 1.74rem"><span>18030255623</span></div>
                <span>湖南省湘西土家族苗族自治州</span>
                <a href="https://weibo.com/hnphoenix?from=myfollow_all" target="_blank"><img
                        src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/weibo.png" alt=""
                        style="margin-left: 1.82rem"></a>
                <a href="https://mp.weixin.qq.com/mp/homepage?__biz=MzA4OTQ2OTIxOQ==&amp;hid=1&amp;sn=6e87d4f93f4b065ddac1548451c6fba3"
                   target="_blank"><img src="https://xiangyuanhui.oss-cn-hangzhou.aliyuncs.com/fenghuang/wechat.png"
                                        alt=""></a>
            </div>
            <div class="line"></div>
            <div class="footer-item2">

                <a href="http://www.hunanhld.cn/" class="website-link" target="_blank">张家界黄龙洞景区</a>
                <a href="http://qiyunshan.sunriver.cn/" target="_blank">齐云山生态文化旅游区</a>
            </div>
            <div class="footer-item3">
                <span>凤凰古城官网</span>
                <a href="http://beian.miit.gov.cn" target="_blank" style="display: inline-block;">湘ICP备20015967号-1</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="./js/nav.js"></script>
</html>