<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="layui/css/layui.css">

</head>
<body>
<div id="doc3" >
    <div id="bd">
        <div class="grid-2 clearfix">
            <div class="aside">
                <div class="aside-menu">
                    <ul>
<!--                        <li><a href="/showpersonal"><i class="ico ico-7"></i>基本资料</a></li>-->
<!--                        <li><a href="#"><i class="ico ico-12"></i>订单管理</a></li>-->
<!--                        <li><a href="/showpq"><i class="ico ico-16"></i>密保问题</a></li>-->
                        <li  class="current"><a href="/showup"><i class="ico ico-11"></i>修改密码</a></li>
                        <li><a href="/showhome"><i class="ico ico-16"></i>返回首页</a></li>
                        <li><a href="/logout"><i class="ico ico-13"></i>退出登录</a></li>
                    </ul>
                </div>
            </div>
            <div class="article"><!-- 修改密码  -->
                <div class="mod-3">
                    <div class="art-mod" style="margin-left: 50px">
                        <div class="layui-form-item" style="margin-top: 75px;">
                            <form id="updateform" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">原密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="oldpassword" required lay-verify="required"
                                               placeholder="请输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="newpassword1" required lay-verify="required"
                                               placeholder="请输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">确认新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="newpassword2" required lay-verify="required"
                                               placeholder="请输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <button class="layui-btn" lay-submit lay-filter="formDemo"
                                style="margin-left: 150px;margin-top: 50px">立即提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script>
    $(".layui-btn").click(function() {
        // 发出异步请求 修改密码
        $.ajax({
            type:"post",
            url:"updatepassword",
            data:$("#updateform").serialize(),
            success : function (data) {//请求成功，data是前端发送来的数据也是json格式
                if (data == "success") {
                    alert("密码修改成功！");
                    location.href="/showlogin";
                }else {
                    alert(data);
                }
            },

        });
    })
</script>
</body>
</html>